    <hr>
    <footer class="container">
    </footer>

   <!-- confirmation modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmationModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="confirmationModalBody">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <!-- message modal -->
    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="messageModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="messageModalBody">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>

    <!-- processing modal -->
    <div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                     <table>
                       <tr>
                        <td style="white-space:nowrap">
                           <img border="0" src="/images/loading-spinner.svg"  alt="Loading..."/>
                        </td>
                        <td style="width:100%;text-align:left;white-space:nowrap;font-size:1.75rem;"> Processing... </td>
                       </tr>
                     </table>
                  </div>
                </div>
          </div>
    </div>

    <!-- jQuery and bootstap -->
    <script src="/js/lib/jquery.3.3.1.min.js"></script>
    <script src="/js/lib/popper.js"></script>
    <script src="/js/lib/bootstrap.4.1.1.min.js"></script>
    <script src="/js/demolot.js"></script>

    </body>
</html>